<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add Address</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/contacts/{id}(id=${address.identity.id})}+'/add/'+@{{id}(id=${address.id})}" th:object="${address}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                            	 <label for="addressType" class="col-form-label">Type</label> 
                            	<select th:field="*{addressType}">
								    <option th:value="'H'" th:text="Home"></option>
								    <option th:value="'W'" th:text="Work"></option>
								</select>
                                <span th:if="${#fields.hasErrors('addressType')}" th:errors="*{addressType}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="streetNumber" class="col-form-label">Street Number</label> 
                                <input type="text" th:field="*{streetNumber}" class="form-control" id="streetNumber" placeholder="Street Number">
                                <span th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="streetName" class="col-form-label">Street Name</label> 
                                <input type="text" th:field="*{streetName}" class="form-control" id="streetName" placeholder="Street Name">
                                <span th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="unit" class="col-form-label">Unit</label> 
                                <input type="text" th:field="*{unit}" class="form-control" id="unit" placeholder="Unit">
                                <span th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="city" class="col-form-label">City</label> 
                                <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="City">
                                <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="state" class="col-form-label">State</label> 
                                <input type="text" th:field="*{state}" class="form-control" id="state" placeholder="State">
                                <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="text-danger"></span>
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="zipCode" class="col-form-label">Zip Code</label> 
                                <input type="text" th:field="*{zipCode}" class="form-control" id="zipCode" placeholder="zipCode">
                                <span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{state}" class="text-danger"></span>
                            </div>                           

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>