<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add Contact</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/contacts/add/{id}(id=${identity.id})}" th:object="${identity}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="firstName" class="col-form-label">First Name</label> 
                                <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name" >
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="lastName" class="col-form-label">Last Name</label> 
                                <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name">
                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="title" class="col-form-label">Title</label> 
                                <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title">
                                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="gender" class="col-form-label">Gender</label> 
                                <input type="radio" th:field="*{gender}" class="form-control" id="gender" value="m" checked> Male<br>
  								<input type="radio" th:field="*{gender}" class="form-control" id="gender" value="f"> Female<br>
                                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{title}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="dob" class="col-form-label">DOB</label> 
                                <input type="date" th:field="*{dob}" class="form-control" id="dob" 
                                	   th:value="*{dob}" placeholder="DOB">
                                <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-danger"></span>
                            </div>                            

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                        <div th:style="${identity.id == 0}?'display:none':'display: block'">
	                        <div th:switch="${identity.addressSet}" class="container my-5">
			                    <p class="my-5">
			                    	
			                        	<a th:href="@{/contacts/{id}(id=${identity.id})}+'/new'" class="btn btn-primary"><i
											class="fas fa-user-plus ml-2"> Add Address</i></a>
									
			                    </p>
			                    <div class="col-md-10">
			                        <h2 th:case="null">No Address yet!</h2>
			                        <div th:case="*">
			                            <table class="table table-striped table-responsive-md">
			                                <thead>
			                                    <tr>
			                                        <th>Type</th>
			                                        <th>City</th>
			                                        <th>State</th>
			                                        <th>Edit</th>
			                                        <th>Delete</th>
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                    <tr th:each="address : ${identity.addressSet}">
			                                        <td th:text="${address.addressType}"></td>
			                                        <td th:text="${address.city}"></td>
			                                        <td th:text="${address.state}"></td>
			                                        <td><a th:href="@{/contacts/{id}(id=${identity.id})}+'/edit/'+@{{id}(id=${address.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
			                                        <td><a th:href="@{/contacts/{id}(id=${identity.id})}+'/delete/'+@{{id}(id=${address.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
			                                    </tr>
			                                </tbody>
			                            </table>
			                        </div>
			
			                    </div>
			                </div>
		                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>